<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RAAH Template</title>
  <meta name="description" content="A template for a Axum/Askama/Htmx project">
  <meta name="author" content="Glen Sørensen">
  <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>

<body>
  <h1>RAAH example</h1>
  
  <input name="name" 
         placeholder="Begin Typing To Search Users..." 
         hx-get="/profile" 
         hx-trigger="keyup changed delay:500ms" 
         hx-target="#search-results">
  <div id="search-results"></div>
</body>
